<main>
  <div>
    <div class=" mt-5">
      <h3>Pages list</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet blanditiis ipsa a tempore omnis voluptate qui
      veritatis, repellendus unde aspernatur illo quidem, expedita, explicabo officia accusamus. Quisquam, corrupti
      sequi.
      Beatae?
      <div class="row">
        <div class="col-6">

          <div class='flex-column mt-5'>
            <h5>HTML practic</h5>
            <div class="nav-link m-1">
              <a href="/summary" class='btn btn-primary'>Summary</a>
            </div>
            <div class="nav-link m-1">
              <a href="/education" class='btn btn-primary'>Education</a>
            </div>
            <div class="nav-link m-1">
              <a href="/work" class='btn btn-primary'>Work</a>
            </div>
            <div class="nav-link m-1">
              <a href="/skills" class='btn btn-primary'>Skills</a>
            </div>
            <div class="nav-link m-1">
              <a href="/bio" class='btn btn-primary'>Bio</a>
            </div>
            <div class="nav-link m-1">
              <a href="/car" class='btn btn-primary'>Car</a>
            </div>
            <div class="nav-link m-1">
              <a href="/js" class='btn btn-primary'>JS</a>
            </div>
            <div class="nav-link m-1">
              <a href="/mac" class='btn btn-primary'>Mac</a>
            </div>
            <div class="nav-link m-1">
              <a href="/web" class='btn btn-primary'>WEB</a>
            </div>
            <div class="nav-link m-1">
              <a href="/person" class='btn btn-primary'>Person</a>
            </div>
            <div class="nav-link m-1">
              <a href="/program" class='btn btn-primary'>Program</a>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class='flex-column mt-5'>
            <h5>Bootstrap practic</h5>
            <div class="nav-link m-1">
              <a href="/task21" class='btn btn-primary'>Task21</a>
            </div>
            <div class="nav-link m-1">
              <a href="/task22" class='btn btn-primary'>Task22</a>
            </div>
            <div class="nav-link m-1">
              <a href="/task31" class='btn btn-primary'>Task31</a>
            </div>
            <div class="nav-link m-1">
              <a href="/shopnews" class='btn btn-primary'>Shopnews</a>
            </div>
            <div class="nav-link m-1">
              <a href="/shopproduct" class='btn btn-primary'>Shopproduct</a>
            </div>
            <div class="nav-link m-1">
              <a href="/shoporder" class='btn btn-primary'>Shoporder</a>
            </div>
            <div class="nav-link m-1">
              <a href="/shopcart" class='btn btn-primary'>Shopcart</a>
            </div>
            <div class="nav-link m-1">
              <a href="/shopprofile" class='btn btn-primary'>Shopprofile</a>
            </div>
            <div class="nav-link m-1">
              <a href="/shoprcatalog" class='btn btn-primary'>Shopcatalog</a>
            </div>
            <div class="nav-link m-1">
              <a href="/index" class='btn btn-primary'>Home page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>