<main>
  <div>
    <div class=" mt-5">
      <h3>Pages list</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet blanditiis ipsa a tempore omnis voluptate qui
      veritatis, repellendus unde aspernatur illo quidem, expedita, explicabo officia accusamus. Quisquam, corrupti
      sequi.
      Beatae?
    </div>
    <div class='flex-column mt-5'>
      <div class="nav-link m-1">
        <a href="/summary" class='btn btn-primary'>Summary</a>
      </div>
      <div class="nav-link m-1">
        <a href="/education" class='btn btn-primary'>Education</a>
      </div>
      <div class="nav-link m-1">
        <a href="/work" class='btn btn-primary'>Work</a>
      </div>
      <div class="nav-link m-1">
        <a href="/skills" class='btn btn-primary'>Skills</a>
      </div>
    </div>
</main>