<div class='col-6'>
  {{#with surname}}
    {{> formLabel}}
  {{/with}}
  <br>
  {{#with phone}}
    {{> formLabel}}
  {{/with}}
</div>
<div class='col-6'>
  {{#with name}}
    {{> formLabel}}
  {{/with}}
  <br>
  {{#with email}}
    {{> formLabel}}
  {{/with}}
</div>