<nav>
	<div class="nav nav-tabs">
		<nav class="nav-link m-0">
			{{> link text="Summary" href="/summary" }}
		</nav>
		<nav class="nav-link m-0">
			{{> link text="Education" href="/education" }}
		</nav>
		<nav class="nav-link m-0">
			{{> link text="Work" href="/work" }}
		</nav>
		<nav class="nav-link m-0">
			{{> link text="Skills" href="/skills"}}
		</nav>
		<nav class="nav-link m-0">
			{{> link text="Home page" href="/Index" }}
		</nav>
	</div>
</nav