<div class='col-3 p-1'>
  <div class='card text-bg-dark'>
    <div class='card-header'>
      <div class='card-title'><strong>{{title}}</strong>
        {{#if idNew}}
          <span class='badge text-bg-success'>Нове</span>
        {{/if}}
        {{#if isTop}}
          <span class='badge text-bg-danger'>Top</span>
        {{/if}}
      </div>
    </div>
    <div class='card-body'>
      <p class='card-text'>{{description}}</p>
    </div>

  </div>
</div>